<form novalidate (ngSubmit)="add_client(frmclient.value); frmclient.reset();" #frmclient="ngForm">

  <div class="modal-header bg-primary">
    <h5 class="modal-title">Nuevo Cliente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Tipo Identificación
            <span class="required">(*)</span>
          </label>
          <select class="form-control" id="ididentifytype" name="ididentifytype" ngModel #ididentifytype="ngModel" required>
            <option *ngFor="let idtip of lis_tipoident" [ngValue]="idtip.ididentifytype">
              {{idtip.identifytypename}}
            </option>
          </select>
        </div>

        <div *ngIf="ididentifytype.errors?.required && ididentifytype.touched">
          <small id="" class="form-text text-danger text-right">El tipo de identificación es requerida</small>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Identificación
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control" maxlength="13" id="identify" name="identify" ngModel #identify="ngModel" required>
        </div>
      
        <div *ngIf="identify.errors?.required && identify.touched">
          <small id="" class="form-text text-danger text-right">La identificación es requerida</small>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Cliente
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control"  maxlength="200" id="businessname" name="businessname" ngModel #businessname="ngModel" required>
        </div>

        <div *ngIf="businessname.errors?.required && businessname.touched">
          <small id="" class="form-text text-danger text-right">El nombre del cliente es requerido</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Dirección
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control"  id="address" name="address" ngModel #address="ngModel"
            required>
        </div>
    
        <div *ngIf="address.errors?.required && address.touched">
          <small id="" class="form-text text-danger text-right">La dirección es requerido</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Teléfono Principal
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control"   id="phone" name="phone" ngModel #phone="ngModel"
            required>
        </div>
    
        <div *ngIf="phone.errors?.required && phone.touched">
          <small id="" class="form-text text-danger text-right">El teléfono es requerido</small>
        </div>

      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Teléfono (2)            
          </label>
          <input type="text" class="form-control"   id="phone_2" name="phone_2" ngModel #phone_2="ngModel">
        </div>
      </div>
    </div>

  
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Principal
              <span class="required">(*)</span>
            </label>
            <input type="email" class="form-control" id="email" name="email" ngModel #email="ngModel" required>
          </div>
      
          <div *ngIf="email.errors?.required && email.touched">
            <small id="" class="form-text text-danger text-right">El correo es requerido</small>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo (2)
            </label>
            <input type="email" class="form-control" id="email_2" name="email_2" ngModel #email_2="ngModel">
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo (3)
            </label>
            <input type="email" class="form-control" id="email_3" name="email_3" ngModel #email_3="ngModel">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Observación
            </label>
            <textarea cols="100" rows="3"  class="form-control" id="observation" name="observation" ngModel #observation="ngModel" ></textarea>
          </div>
      
        </div>
      </div>




  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
      <i class="fas fa-ban"></i>
    </button>

    <button type="submit" class="btn btn-success" [disabled]="frmclient.invalid">
      Guardar
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>