<nav *ngIf="listPermission.length > 0" class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="../assets/image/LogoEncomaq-color.png" alt="Card image cap" width="100" height="30">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="0" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contract']" *ngIf="listPermission[14].state == 0" > {{listPermission[14].permissionname}} </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/referralguide']" *ngIf="listPermission[13].state == 0" > {{listPermission[13].permissionname}}  </a>
      </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="0">
        Empresa
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['/carrier']" *ngIf="listPermission[7].state == 0" > {{listPermission[7].permissionname}} </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/client']" *ngIf="listPermission[8].state == 0" > {{listPermission[8].permissionname}} </a>
        <a class="dropdown-item" [routerLink]="['/item']" *ngIf="listPermission[9].state == 0"  > {{listPermission[9].permissionname}} </a>
        <a class="dropdown-item" [routerLink]="['/warehouse']" *ngIf="listPermission[10].state == 0" > {{listPermission[10].permissionname}} </a>
        <a class="dropdown-item" [routerLink]="['/company']" *ngIf="listPermission[11].state == 0" > {{listPermission[11].permissionname}} </a>
        <a class="dropdown-item" [routerLink]="['/project']" *ngIf="listPermission[12].state == 0" > {{listPermission[12].permissionname}} </a>
      </div>
    </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="0">
          Nomencladores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/identiytype']"  *ngIf="listPermission[3].state == 0"  >  {{listPermission[3].permissionname}} </a>
          <a class="dropdown-item" [routerLink]="['/categoryitem']" *ngIf="listPermission[4].state == 0" >  {{listPermission[4].permissionname}} </a>
          <a class="dropdown-item" [routerLink]="['/transferreason']" *ngIf="listPermission[5].state == 0">  {{listPermission[5].permissionname}} </a>
          <a class="dropdown-item" [routerLink]="['/unittype']" *ngIf="listPermission[6].state == 0" > {{listPermission[6].permissionname}} </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="0">
          Sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/role']" *ngIf="listPermission[0].state == 0" > {{listPermission[0].permissionname}} </a>
          <a class="dropdown-item" [routerLink]="['/user']" *ngIf="listPermission[1].state == 0" > {{listPermission[1].permissionname}} </a>
        <a class="dropdown-item" [routerLink]="['/configemail']" *ngIf="listPermission[2].state == 0" > {{listPermission[2].permissionname}} </a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="0">
               <strong>{{username}}</strong>  <i class="fas fa-user-circle fa-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]="['/profile']">Perfil</a>
              <a class="dropdown-item" (click)="confirmLogout();">Salir</a>
          </div>
      </li>

  </ul>
  </div>
</nav>

<div class="modal fade" id="mdlConfirmLogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        ¿Está seguro que desea cerrar sesion y salir del sistema...?
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar <i class="fas fa-ban"></i>
                </button>

                <button type="button" class="btn btn-primary" (click)="logout();">
                    Aceptar <i class="fas fa-sign-out-alt"></i>
                </button>

            </div>
        </div>
    </div>
</div>
