
<div class="container">

  <div class="col-12" style="margin-top: 15px;">

      <div class="row">

          <div class="col-6">

              <h4>Gestión de Roles</h4>

          </div>

          <div class="col-6 text-right">

              <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar" ng-click="create()">
                  Agregar <i class="fas fa-plus-square fa-lg"></i>
              </button>

          </div>

      </div>

  </div>

  <hr>

  <div class="col-12 table-responsive">

      <table class="table table-striped table-hover table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th>NO</th>
                  <th style="width: 8%;">ROL</th>
                  <th style="width: 5%;"></th>
              </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listRole | async;  let i = index " >
              <td>{{i + 1}}</td>
              <td class="text-right">{{item.rolename}}</td>
              <td class="text-center">

                  <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-cogs"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" ng-click="edit(item)"><i class="fas fa-edit"></i> Editar</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" ng-click="confirmValidate(item)"><i class="fas fa-ban"></i> Anular</a>
                          <a class="dropdown-item" ng-click="confirmDelete(item)"><i class="fas fa-trash-alt"></i> Eliminar</a>
                      </div>
                  </div>

              </td>
          </tr>
          </tbody>
      </table>

  </div>





</div>
