
<div class="container">

  <div class="col-12" style="margin-top: 15px;">

      <div class="row">

          <div class="col-6">

              <h4>Gestión de Roles</h4>

          </div>

          <div class="col-6 text-right">

              <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar" (click)="create()">
                  Agregar <i class="fas fa-plus-square fa-lg"></i>
              </button>

          </div>

      </div>

  </div>

  <hr>

  <div class="col-12 table-responsive">

      <table class="table table-striped table-hover table-bordered">
          <thead class="thead-dark">
              <tr>
                  <th style="width: 8%;">NO</th>
                  <th>ROL</th>
                  <th style="width: 5%;"></th>
              </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listRole | async;  let i = index " >
              <td>{{i + 1}}</td>
              <td class="text-left">{{item.rolename}}</td>
              <td class="text-center">

                  <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-cogs"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" (click)="updateSelectedRole(item)">
                            <i class="fas fa-edit"></i> Editar
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="confirmDelete(item)"><i class="fas fa-trash-alt"></i> Eliminar</a>
                      </div>
                  </div>

              </td>
          </tr>
          </tbody>
      </table>

  </div>

  <div class="modal" id="mdlCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <app-create (update_component_father)="updateListRole($event, 'create')" ></app-create>

      </div>
    </div>
  </div>

  <div class="modal" id="mdlUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <app-update [tem_edit_role]="role_selected" (update_component_father)="updateListRole($event, 'edit')" ></app-update>

      </div>
    </div>
  </div>

  <div class="modal fade" id="mdlConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            ¿Está seguro que desea eliminar el Rol?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar <i class="fas fa-ban"></i>
                    </button>

                    <button type="button" class="btn btn-danger" (click)="delete();">
                        Aceptar <i class="fas fa-trash-alt"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlMessageSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{message_success}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlMessageError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{message_error}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
