/* You can add global styles to this file, and also import other style files */

.required {
    color: red;
} 
.right_paginate {
    position: relative; 
    float:right;
}
.mouse_point {
    cursor: pointer
}