<div *ngIf="tem_edit">
  <form novalidate (ngSubmit)="edit_transferreason(tem_edit); frm_edittransfer.reset();" #frm_edittransfer="ngForm">

    <div class="modal-header bg-primary">
      <h5 class="modal-title">Editar Motivo Traslado</h5>
      <button type="button" class="close" data-dismiss="modal"  (click)="refresh()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Motivo Traslado <span class="required">(*)</span></label>
            <input type="email" class="form-control" maxlength="100" id="transferreasonname" name="transferreasonname" [(ngModel)]="tem_edit.transferreasonname"
              #transferreasonname="ngModel" required>
          </div>

          <div *ngIf="transferreasonname.errors?.required && transferreasonname.touched" >
            <small id="" class="form-text text-danger text-right">El Motivo Traslado es obligatorio</small>
          </div>
        </div>
        <div class="col-12">

          <div class="form-group">
            <label for="ididentifytype">Tipo <span class="required">(*)</span> </label>
            <select class="custom-select" id="idtypetransferreason" name="idtypetransferreason" [(ngModel)]="tem_edit.idtypetransferreason" #idtypetransferreason="ngModel" required>
              <option *ngFor="let e of listTypeTransferReason" [ngValue]="e.idtypetransferreason">
                  {{e.nametypetransferreason}}
              </option>
            </select>
          </div>

          <span *ngIf="idtypetransferreason.errors?.required && idtypetransferreason.touched">
            <small id="emailHelp" class="form-text text-danger text-right">El Tipo es requerido</small>
          </span>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="refresh()"  data-dismiss="modal">
        Cancelar
        <i class="fas fa-ban"></i>
      </button>
      <button type="submit" class="btn btn-success" [disabled]="frm_edittransfer.invalid">
        Guardar
        <i class="fas fa-save"></i>
      </button>
    </div>



  </form>
</div>
