<div class="row">
  <div class="col col-sm-6">
    <h4>Gestión de Tipos de Identificacion</h4>
  </div>
  <div class="col col-sm-6 text-right">
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar">
    Agregar
    <i class="fas fa-plus"></i>
  </button>
  </div>
</div>
<div class="row">
  <div class="col col-sm-12">
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>Tipo Identificacion</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ident of list_identifytype | async;  let i = index ">
          <td>{{i+1}}</td>
          <td>{{ident.identifytypename}}</td>
          <td>{{ ((ident.state === 1)? 'Activo':'Anulado') }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-cogs"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-edit"></i> Editar</a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-trash-alt"></i> Eliminar</a>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>