<div *ngIf="auxcategory">
<div *ngIf="tem_edit">
  <form novalidate (ngSubmit)="edit_item(tem_edit); " #frmedititem="ngForm">

  <div class="modal-header bg-primary">
    <h5 class="modal-title">Editar Item</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-12">
        <img src="{{ ((tem_edit.image != '' && tem_edit.image != null)? url_basic + '' + tem_edit.image:urlimage)  }}" class="img-fluid"
          alt="Responsive image" style="width: 95%;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <div class="form-group">
        <label for="exampleFormControlInput1">Foto
        </label>
        <input type="file" class="form-control" id="image" lang="es" (change)="handleFileInput($event.target.files)">
      </div>
  
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Categoria
            <span class="required">(*)</span>
          </label>
          <select class="form-control" id="idcategoryitem" name="idcategoryitem" [(ngModel)]="tem_edit.idcategoryitem" #idcategoryitem="ngModel" required>
            <option *ngFor="let cat of lis_category" [ngValue]="cat.idcategoryitem">
              {{cat.categoryitemname}}
            </option>
          </select>
        </div>

        <div *ngIf="idcategoryitem.errors?.required && idcategoryitem.touched">
          <small id="" class="form-text text-danger text-right">La categoria es requerida</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Unidad
            <span class="required">(*)</span>
          </label>
          <select class="form-control" id="idunittype" name="idunittype" [(ngModel)]="tem_edit.idunittype" #idunittype="ngModel" required>
            <option *ngFor="let u of lis_unit" [ngValue]="u.idunittype">
              {{u.unittypename}}
            </option>
          </select>
        </div>

        <div *ngIf="idunittype.errors?.required && idunittype.touched">
          <small id="" class="form-text text-danger text-right">La unidad es requerida</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Item
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control" maxlength="200" id="itemname" name="itemname" [(ngModel)]="tem_edit.itemname" #itemname="ngModel" required>
        </div>

        <div *ngIf="itemname.errors?.required && itemname.touched">
          <small id="" class="form-text text-danger text-right">El item es requerido</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Descripción
            <span class="required">(*)</span>
          </label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="tem_edit.description" #description="ngModel" required>
        </div>

        <div *ngIf="description.errors?.required && description.touched">
          <small id="" class="form-text text-danger text-right">La descripción es requerida</small>
        </div>
      </div>
    </div>




  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
      <i class="fas fa-ban"></i>
    </button>

    <button type="submit" class="btn btn-success" [disabled]="frmedititem.invalid">
      Guardar
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>
</div>
</div>