<div *ngIf="tem_edit">
  <form novalidate (ngSubmit)="edit_item(tem_edit); frmedititem.reset();" #frmedititem="ngForm">

  <div class="modal-header bg-primary">
    <h5 class="modal-title">Editar Item</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="refresh()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row" >
      
    </div>

    <div class="row">

      <div class="col-12 col-md-6">
        
        <div class="row">

            <div class="col-12 text-center">
              <img  src="{{ ((tem_edit.image != '' && tem_edit.image != null)? url_basic + '' + tem_edit.image:urlimage)  }}" 
                alt="Responsive image" style="width:45%; " class="img-responsive">
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Foto
                </label>
                <input type="file" class="form-control" id="image" lang="es" (change)="handleFileInput($event.target.files)">
              </div>  
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Item
                  <span class="required">(*)</span>
                </label>
                <input type="text" class="form-control" maxlength="200" id="itemname" name="itemname" [(ngModel)]="tem_edit.itemname" #itemname="ngModel" required>
              </div>
      
              <div *ngIf="itemname.errors?.required && itemname.touched">
                <small id="" class="form-text text-danger text-right">El item es requerido</small>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Categoría
                  <span class="required">(*)</span>
                </label>
                <select class="form-control" id="idcategoryitem" name="idcategoryitem" [(ngModel)]="tem_edit.idcategoryitem" #idcategoryitem="ngModel" required>
                  <option *ngFor="let cat of lis_category "  value="{{cat.idcategoryitem}}">
                    {{cat.categoryitemname}}
                  </option>
                </select>
              </div>
      
              <div *ngIf="idcategoryitem.errors?.required && idcategoryitem.touched">
                <small id="" class="form-text text-danger text-right">La categoria es requerida</small>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Unidad
                  <span class="required">(*)</span>
                </label>
                <select class="form-control" id="idunittype" name="idunittype" [(ngModel)]="tem_edit.idunittype" #idunittype="ngModel" required>
                  <option *ngFor="let u of lis_unit" value="{{u.idunittype}}">
                    {{u.unittypename}}
                  </option>
                </select>
              </div>
      
              <div *ngIf="idunittype.errors?.required && idunittype.touched">
                <small id="" class="form-text text-danger text-right">La unidad es requerida</small>
              </div>
            </div>

        </div>

      </div>


      <div class="col-12 col-md-6">

        <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Descripción
                  <span class="required">(*)</span>
                </label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="tem_edit.description" #description="ngModel" required> </textarea>
              </div>
      
              <div *ngIf="description.errors?.required && description.touched">
                <small id="" class="form-text text-danger text-right">La descripción es requerida</small>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Precio
                </label>
                <div class="input-group">
                  <input type="text" class="form-control"  pattern="^[0-9]+([.][0-9]+)?$"  id="price" name="price" ngModel #price="ngModel">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="createRow(frmedititem.value)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
                
              </div>           
            </div>
    
            <div class="col-12 table-responsive">
                <table class="table table-striped table-hover table-bordered" id="list_items" style="font-size: 12px;">
                  <thead class="thead-dark">
                    <tr>
                      <th>PRECIO</th>
                      <th style="width: 30%;"></th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr *ngFor="let ident of tem_edit.biz_itemprice let i = index">
                          <td>
                              <input type="text" class="form-control" name="{{i}}price_l" [(ngModel)]="ident.price">
                          </td>
                          <td>
                              <button *ngIf="ident.iditemprice !== undefined" class="btn btn-success" type="button" (click)="confirmSavePrice(ident)">
                                <i class="fas fa-save"></i>
                              </button>
                              <button class="btn btn-danger" type="button" (click)="confirmDeletePrice(ident)">
                                <i class="fas fa-trash"></i>
                              </button>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
      </div>     

      
    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="refresh()" data-dismiss="modal">
      Cancelar
      <i class="fas fa-ban"></i>
    </button>

    <button type="submit" class="btn btn-success" [disabled]="frmedititem.invalid">
      Guardar
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>
</div>

<div class="modal fade" id="mdl_deletePriceItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              ¿Está seguro que desea eliminar el precio?
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
            <i class="fas fa-ban"></i>
          </button>

          <button type="button" class="btn btn-danger" (click)="deleteRowPrice();">
            Aceptar
            <i class="fas fa-trash-alt"></i>
          </button>

        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="mdl_confirmSaveItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>El presente precio se encuentra utilizado en Guías de Remisión y/o Liquidaciones. Su 
            edición alterará los precios en los procesos anteriormente mencionados </p>
            <p>¿Está seguro que desea editar el precio? </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="closeConfirmPrice();">
          Cancelar
          <i class="fas fa-ban"></i>
        </button>

        <button type="button" class="btn btn-success" (click)="savePrice();">
          Aceptar
          <i class="fas fa-save"></i>
        </button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdlMessageErrorItemPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{message_info_itemprice}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
          <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdlMessageSuccessItemPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{message_info_itemprice}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
          <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdlMessageInfoItemPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No puede eliminar el precio seleccionado, debido a que está siendo utilizado en otros procesos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
          <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>