<form novalidate (ngSubmit)="add(frmreferralguide.value, frmreferralguide);" #frmreferralguide="ngForm">

  <div class="modal-header bg-primary">

    <h5 class="modal-title">Nueva Guía de Remisión</h5>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col-md-3 col-sm-12 ">

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
            aria-selected="true">INFORMACION GENERAL I</a>

          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
            aria-selected="false">INFORMACION GENERAL II</a>

          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
            aria-selected="false">ITEMS</a>

        </div>

      </div>

      <div class="col-md-9 col-sm-12 ">

        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

              <div class="row">

                <div class="col-sm-4 col-12">

                    <div class="form-group ">
                      <label for="exampleFormControlInput1">Contrato
                        <span class="required">(*)</span>
                      </label>
                      <div class="input-group">
                        <select class="form-control" style="display: none;" id="idcontract" name="idcontract" [(ngModel)]="idcontract_s.idcontract" readonly  #idcontract="ngModel" required>
                          <option *ngFor="let i of listContract" value="{{i.idcontract}}">
                            {{i.nocontract}}
                          </option>
                        </select>

                        <input type="text" class="form-control"  name="temnomcontrato" readonly [(ngModel)]="idcontract_s.nocontract" />

                        <div class="input-group-append">
                          <button class="btn btn-default" type="button" (click)="searchContract()"  >
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="idcontract.errors?.required && idcontract.touched">
                      <small id="" class="form-text text-danger text-right">El Contrato es requerido</small>
                    </div>

                </div>

                <div class="col-sm-8 col-12">

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Cliente
                      <span class="required">(*)</span>
                    </label>
                    <input type="text" class="form-control" id="client" name="client" readonly [(ngModel)]="idcontract_s.biz_client.businessname" #client="ngModel">
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">No. Guía Remisión</label>
                    <input type="text" class="form-control" id="guidenumber" name="guidenumber" maxlength="17"
                                ngModel #guidenumber="ngModel" placeholder="xxx-xxx-xxxxxxxxx">
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Proyectos
                      <span class="required">(*)</span>
                    </label>
                    <select class="form-control" id="idproject" name="idproject" ngModel #idproject="ngModel" required>
                      <option *ngFor="let c of idcontract_s.biz_client.biz_project" value="{{c.idproject}}">{{c.projectname}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Fecha
                      <span class="required">(*)</span>
                    </label>
                    <input type="date" class="form-control" id="datetimereferral" name="datetimereferral" ngModel #datetimereferral="ngModel" required>
                  </div>

                  <div *ngIf="datetimereferral.errors?.required && datetimereferral.touched">
                    <small id="" class="form-text text-danger text-right">La Fecha es requerida</small>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Hora
                      <span class="required">(*)</span>
                    </label>
                    <input type="time" class="form-control" id="sequential" name="sequential" ngModel #sequential="ngModel" required>
                  </div>

                  <div *ngIf="sequential.errors?.required && sequential.touched">
                    <small id="" class="form-text text-danger text-right">La Hora requerida</small>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Costo Serv. Logística</label>
                    <input type="text" class="form-control" id="logisticservicecost" name="logisticservicecost"
                                ngModel #logisticservicecost="ngModel">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-12">

                    <div class="form-group ">
                      <label for="exampleFormControlInput1">Motivo Traslado
                        <span class="required">(*)</span>
                      </label>
                      <div class="input-group">
                        <select class="form-control" id="idtransferreason" name="idtransferreason" ngModel #idtransferreason="ngModel" required>
                          <option *ngFor="let i of listTransferReason" value="{{i.idtransferreason}}">
                            {{i.transferreasonname}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div *ngIf="idtransferreason.errors?.required && idtransferreason.touched">
                      <small id="" class="form-text text-danger text-right">El Motivo Traslado es requerido</small>
                    </div>

                </div>

              </div>

          </div>

          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

            <div class="row">

                <div class="col-12">

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Punto de Partida
                      <span class="required">(*)</span>
                    </label>
                    <div class="input-group">
                        <input type="hidden" id="idplace_start" name="idplace_start" [(ngModel)]="place_select_start.idplace" #idplace_start="ngModel">
                        <input type="text" class="form-control" id="startingpoint" name="startingpoint" [(ngModel)]="place_select_start.placename" readonly  #startingpoint="ngModel" required>
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button" (click)="searchPlace(1)"  >
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                    </div>
                  </div>

                  <div *ngIf="startingpoint.errors?.required && startingpoint.touched">
                    <small id="" class="form-text text-danger text-right">El Punto de Partida es requerido</small>
                  </div>

                </div>

            </div>

            <div class="row">

                <div class="col-12">

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Punto de Llegada
                      <span class="required">(*)</span>
                    </label>
                    <div class="input-group">
                        <input type="hidden" id="idplace_end" name="idplace_end" [(ngModel)]="place_select_end.idplace" #idplace_end="ngModel">
                        <input type="text" class="form-control" id="arrivalpoint" name="arrivalpoint" [(ngModel)]="place_select_end.placename" readonly #arrivalpoint="ngModel" required>
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button" (click)="searchPlace(2)"  >
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                    </div>

                  </div>

                  <div *ngIf="arrivalpoint.errors?.required && arrivalpoint.touched">
                    <small id="" class="form-text text-danger text-right">El Punto de Llegada es requerido</small>
                  </div>

                </div>

            </div>



            <div class="row">

                <div class="col-12">

                    <div class="form-group ">
                      <label for="exampleFormControlInput1">Transportista
                        <span class="required">(*)</span>
                      </label>
                      <div class="input-group">
                        <select class="form-control" style="display: none;" id="idcarrier" name="idcarrier" [(ngModel)]="carrier_select.idcarrier" readonly  #idcarrier="ngModel" required>
                          <option *ngFor="let cli of list_carrier" value="{{cli.idcarrier}}">
                            {{cli.carriername}}
                          </option>
                        </select>
                        <input type="text" class="form-control" name="temtransportisa" readonly [(ngModel)]="carrier_select.carriername" />

                        <div class="input-group-append">
                          <button class="btn btn-default" type="button" (click)="searchCarrier()"  >
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="idcontract.errors?.required && idcontract.touched">
                      <small id="" class="form-text text-danger text-right">El Contrato es requerido</small>
                    </div>

                </div>

              </div>

              <div class="row">

                  <div class="col-sm-6 col-12">

                      <div class="form-group">
                        <label for="exampleFormControlInput1">C.I.
                          <span class="required">(*)</span>
                        </label>
                        <input type="text" class="form-control" readonly id="identify" name="identify" [(ngModel)]="carrier_select.identify" #identify="ngModel" required />
                      </div>

                      <div *ngIf="identify.errors?.required && identify.touched">
                        <small id="" class="form-text text-danger text-right">El C.I. es requerido</small>
                      </div>

                    </div>

                  <div class="col-sm-6 col-12">

                    <div class="form-group">
                      <label for="exampleFormControlInput1">Placa Nro
                        <span class="required">(*)</span>
                      </label>
                      <input type="text" class="form-control" readonly  id="licenseplate" name="licenseplate" [(ngModel)]="carrier_select.licenseplate" #licenseplate="ngModel" required>
                    </div>

                    <div *ngIf="licenseplate.errors?.required && licenseplate.touched">
                      <small id="" class="form-text text-danger text-right">La Placa es requerido</small>
                    </div>

                  </div>



                </div>

          </div>

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <div class="row">

              <div class="col-12 text-right">
                <button type="button" class="btn btn-primary" (click)="addrwo()"> Agregar
                <i class="fas fa-plus-square fa-lg"></i></button>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12 col-12 table-responsive">
                <table class="table table-bordered table-condensed" style="font-size: 11px;">
                  <thead class="btn-dark">
                    <tr>
                      <th style="width: 3%;">N</th>
                      <th>DESCRIPCIÓN</th>
                      <th>PRECIO</th>
                      <th style="width: 15% !important;" >CANT.</th>
                      <th>OBSERVACIONES</th>
                      <th style="width: 3%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aux of list_itemcont let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <div class="input-group">
                          <select class="form-control" name="{{i}}iditem" [(ngModel)]="aux.iditem" (change)="getListPrice(aux)">
                            <option *ngFor="let it of lis_item" value="{{it.iditem}}">
                              {{it.itemname}}
                            </option>
                          </select>
                          <!--<div class="input-group-append">
                            <button class="btn btn-default" type="button" (click)="search_item(aux)">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>-->
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          <select class="form-control" name="{{i}}priceItem" [(ngModel)]="aux.price">
                            <option *ngFor="let it of aux.listPrice" value="{{it.price}}">
                              {{it.price}}
                            </option>
                          </select> 
                        </div>
                      </td>
                      <td><input type="number" min="1" max="100" class="form-control"  name="{{i}}quantity"   [(ngModel)]="aux.quantity"  /></td>
                      <td><input type="text" class="form-control"  name="{{i}}observation"   [(ngModel)]="aux.observation"  /></td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="removerow(aux)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
      <i class="fas fa-ban"></i>
    </button>

    <button type="submit" class="btn btn-success" [disabled]="frmreferralguide.invalid">
      Guardar
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>

<div class="modal fade" id="mdl_equalsplace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            El Punto de Partida y Llegada no deben ser iguales 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
