/* You can add global styles to this file, and also import other style files */

.required {
    color: red;
} 
.right_paginate {
    position: relative; 
    float:right;
}
.mouse_point {
    cursor: pointer
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#bbdefb;
}
