<div *ngIf="tem_edit">
  <form novalidate (ngSubmit)="modify_client(tem_edit, frmeditclient);" #frmeditclient="ngForm">

    <div class="modal-header bg-primary">
      <h5 class="modal-title">Editar Cliente</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="refresh()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="exampleFormControlInput1">Tipo Identificación
              <span class="required">(*)</span>
            </label>
            <select class="form-control"  id="ididentifytype" name="ididentifytype" [(ngModel)]="tem_edit.ididentifytype" (change)="changeIdentify(tem_edit)" #ididentifytype="ngModel" required>
              <option *ngFor="let idtip of lis_tipoident" value="{{idtip.ididentifytype}}">
                {{idtip.identifytypename}}
              </option>
            </select>
          </div>

          <div *ngIf="ididentifytype.errors?.required && ididentifytype.touched">
            <small id="" class="form-text text-danger text-right">El tipo de identificación es requerida</small>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="exampleFormControlInput1">Identificación
              <span class="required">(*)</span>
            </label>
            <input type="text" class="form-control"

                  maxlength="{{identifylength}}"

                  id="identify" name="identify" [(ngModel)]="tem_edit.identify" #identify="ngModel" (keypress)="changeIdentify(tem_edit, false)" required>
          </div>

          <div *ngIf="identify.errors?.required && identify.touched">
            <small id="" class="form-text text-danger text-right">La identificación es requerida</small>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Cliente
              <span class="required">(*)</span>
            </label>
            <input type="text" class="form-control" maxlength="200"  id="businessname" name="businessname" [(ngModel)]="tem_edit.businessname" #businessname="ngModel" required>
          </div>

          <div *ngIf="businessname.errors?.required && businessname.touched">
            <small id="" class="form-text text-danger text-right">El nombre del cliente es requerido</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Dirección
              <span class="required">(*)</span>
            </label>
            <input type="text" class="form-control"  id="address" name="address" [(ngModel)]="tem_edit.address" #address="ngModel" required>
          </div>

          <div *ngIf="address.errors?.required && address.touched">
            <small id="" class="form-text text-danger text-right">La dirección es requerido</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Teléfono Principal
              <span class="required">(*)</span>
            </label>
            <input type="text" class="form-control"  id="phone" name="phone" [(ngModel)]="tem_edit.phone" #phone="ngModel" required>
          </div>

          <div *ngIf="phone.errors?.required && phone.touched">
            <small id="" class="form-text text-danger text-right">El teléfono es requerido</small>
          </div>

        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Teléfono (2)
            </label>
            <input type="text" class="form-control"  id="phone_2" name="phone_2" [(ngModel)]="tem_edit.phone_2" #phone_2="ngModel">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Principal
              <span class="required">(*)</span>
            </label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="tem_edit.email" #email="ngModel" required>
          </div>

          <div *ngIf="email.errors?.required && email.touched">
            <small id="" class="form-text text-danger text-right">El correo es requerido</small>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo (2)
            </label>
            <input type="email" class="form-control" id="email_2" name="email_2" [(ngModel)]="tem_edit.email_2" #email_2="ngModel">
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo (3)
            </label>
            <input type="email" class="form-control" id="email_3" name="email_3" [(ngModel)]="tem_edit.email_3" #email_3="ngModel">
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlInput1">Observación
          </label>
          <textarea cols="100" rows="3" class="form-control" id="observation" name="observation" [(ngModel)]="tem_edit.observation" #observation="ngModel"></textarea>
        </div>
      </div>
    </div>


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="refresh()"  data-dismiss="modal">
        Cancelar
        <i class="fas fa-ban"></i>
      </button>

      <button type="submit" class="btn btn-success" [disabled]="frmeditclient.invalid">
        Guardar
        <i class="fas fa-save"></i>
      </button>
    </div>
  </form>


  <div class="modal fade" id="mdl_length1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              La Identificación ingresada no cumple con la longitud especificada: ({{identifylength}})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
