<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form novalidate  (ngSubmit)="add_new_identifytype(frm_new.value); frm_new.reset();" #frm_new="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="exampleFormControlInput1">Tipo Identificacion</label>
              <input type="email" class="form-control" maxlength="100" id="identifytypename" name="identifytypename" ngModel #identifytypename="ngModel"
                required>
            </div>
            
            <div *ngIf="identifytypename.errors?.required && identifytypename.touched" class="alert alert-danger">
              El tipo es obligatorio
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col m12 s12">
            <button type="submit" class="btn btn-success" [disabled]="frm_new.invalid">
              Guardar
              <i class="fas fa-save"></i>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>