<div class="container-fluid">

  <div class="col-12" style="margin-top: 15px;">

    <div class="row">

      <div class="col-6">

        <h4>Gestión de Guías de Remisión</h4>

      </div>

      <div class="col-6 text-right">

        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar" (click)="create()">
          Agregar <i class="fas fa-plus-square fa-lg"></i>
        </button>

        <button type="button" class="btn btn-info" (click)="pdf()" style="margin-left: 5px;">
          PDF <i class="fas fa-file-pdf"></i>
        </button>

        <button type="button" class="btn btn-info" (click)="excel()" style="margin-left: 5px;">
          EXCEL <i class="fas fa-file-excel"></i>
        </button>

      </div>

    </div>

  </div>

  <hr>

  <div class="col-12">

    <div class="row">

      <div class="col-12 col-sm-2" style="margin-top: 5px;">
        <select class="custom-select" #col [(ngModel)]="column" (change)="page = 1; getList();">
          <option value="biz_contract.nocontract"># CONTRATO</option>
          <option value="biz_client.businessname">CLIENTE</option>
        </select>
      </div>

      <div class="col-12 col-sm-2" style="margin-top: 5px;">
        <select class="custom-select" #or [(ngModel)]="order" (change)="page = 1; getList();">
          <option value="ASC">ASCENDENTE</option>
          <option value="DESC">DESENDENTE</option>
        </select>
      </div>

      <div class="col-12 col-sm-2" style="margin-top: 5px;">
        <div class="input-group mb-3">
          <input type="number" class="form-control" #pg [(ngModel)]="num_page" (keyup)="page = 1; getList();" (change)="page = 1; getList();">
          <div class="input-group-prepend">
            <label class="input-group-text">
              Pag.
            </label>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-2" style="margin-top: 5px;">
        <select class="custom-select" #est [(ngModel)]="state" (change)="page = 1; getList();">
          <option value="1">ACTIVO</option>
          <option value="0">ANULADO</option>
        </select>
      </div>

      <div class="col-12 col-sm-4" style="margin-top: 5px;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar Guía" #aux [(ngModel)]="descripcion" (keyup)="page = 1; getList();">
          <div class="input-group-prepend">
            <label class="input-group-text">
              <i class="fas fa-search"></i>
            </label>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="col-12 table-responsive">

    <table class="table table-striped table-hover table-bordered" id="list_guiaremision" style="font-size: 12px;">
      <thead class="thead-dark">

          <tr style="display: none;">
              <th colspan="11"></th>
            </tr>
            <tr style="display: none;">
              <th colspan="6">{{companyData.businessname.toUpperCase()}}</th>
              <th colspan="5">LISTADO DE GUIAS DE REMISION</th>
            </tr>
            <tr style="display: none;">
              <th colspan="11"></th>
            </tr>

        <tr>
          <th style="width: 3%;">NO</th>
          <th>CLIENTE</th>
          <th style="width: 6%;">CONTRATO</th>
          <th style="width: 10%;">NUMERO</th>
          <th style="width: 7%;">FECHA</th>
          <th style="width: 4%;">HORA</th>
          <th>MOTIVO</th>
          <th style="width: 12%;">P. PARTIDA</th>
          <th style="width: 12%;">P. LLEGADA</th>
          <th>TRANSPORTISTA</th>
          <th style="width: 5%;">ESTADO</th>
          <th class="noExl" style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listReferralGuide  let i = index" [ngClass]="{'text-danger':item.state == 0 } ">
          <td>{{i+from}}</td>
          <td>{{item.biz_contract.biz_client.businessname}}</td>
          <td>{{item.biz_contract.nocontract}}</td>
          <td>{{item.guidenumber}}</td>
          <td>{{item.datetimereferral}}</td>
          <td>{{item.sequential}}</td>
          <td>{{item.nom_transferreason.transferreasonname}}</td>

          <!--<td *ngIf="item.biz_referralguide_place.length == 0">{{item.startingpoint}}</td>
          <td *ngIf="item.biz_referralguide_place.length == 0">{{item.arrivalpoint}}</td> -->

          <!--<td *ngIf="item.biz_referralguide_place.length > 0">{{item.biz_referralguide_place[0].biz_place_start.placename}}</td>
          <td *ngIf="item.biz_referralguide_place.length > 0">{{item.biz_referralguide_place[0].biz_place_end.placename}}</td> -->

          <td>

            <span *ngIf="item.nom_transferreason.idtypetransferreason != 2">
                {{item.biz_warehouse.address}}
            </span>
            <span *ngIf="item.nom_transferreason.idtypetransferreason == 2">
                {{item.biz_project.place}}
            </span>
            
          </td>
          <td>
            
              <span *ngIf="item.nom_transferreason.idtypetransferreason != 2">
                  {{item.biz_project.place}}
                  
              </span>
              <span *ngIf="item.nom_transferreason.idtypetransferreason == 2">
                  {{item.biz_warehouse.address}}
              </span>

          </td>

          <td>{{item.biz_carrier.carriername}}</td>

          <td>{{ ((item.state == 1)? 'ACTIVO':'ANULADO') }}</td>
          <td class="noExl" >
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-cogs"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="view_info(item)">
                  <i class="fas fa-info"></i> Información</a>
                <a class="dropdown-item" (click)="editSelected(item)">
                  <i class="fas fa-edit"></i> Editar</a>
                <a class="dropdown-item" (click)="cancel_activate(item)">
                  <i class="fas fa-ban"></i> Cambiar estado</a>
                <a class="dropdown-item" (click)="delete(item)">
                  <i class="fas fa-trash-alt"></i> Eliminar</a>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="col-12 ">
    <app-pagination class="right_paginate" (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="3"
      [page]="page" [perPage]="3" [count]="total">
    </app-pagination>
  </div>


  <div class="modal" id="createreferralguide"  tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90% !important;">
      <div class="modal-content">

        <app-createreferralguide [idcontract_s]="idcontract_select" [carrier_select]="objectcarrier_select" [item_select]="globalitem_select" [place_select_start]="objectplace_select_start" [place_select_end]="objectplace_select_end"  (update_component_father)="updateList($event,'create')" (field_selected)="fieldPlaceSelected($event)"></app-createreferralguide>

      </div>
    </div>
  </div>

  <div class="modal" id="updatereferralguide" tabindex="-1" data-backdrop="static" data-keyboard="false"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90% !important;">
      <div class="modal-content">

        <app-updatereferralguide [idcontract_s]="idcontract_select" [carrier_select]="objectcarrier_select" [item_select]="globalitem_select"  [tem_edit]="info_tem_edit" [place_select_start]="objectplace_select_start" [place_select_end]="objectplace_select_end"  (update_component_father)="updateList($event,'create')" (field_selected)="fieldPlaceSelected($event)" (update_component_father)="updateList($event,'edit')" (refresh_component_father)="refresfather($event)" ></app-updatereferralguide>

      </div>
    </div>
  </div>



  <div class="modal fade" id="mdlConfirmSetState" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        ¿Está seguro que desea cambiar el estado de la Guía de Remisión: <strong>{{referralguide_selected}}</strong>?
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar <i class="fas fa-ban"></i>
                </button>

                <button type="button" class="btn btn-warning" (click)="setState();">
                    Aceptar <i class="fas fa-retweet"></i>
                </button>

            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="mdlMessageSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header bg-success">
                  <h5 class="modal-title">Información</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  {{message_info}}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Cerrar <i class="fa fa-ban" aria-hidden="true"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="mdlMessageError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header bg-danger">
                  <h5 class="modal-title">Información</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  {{message_info}}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Cerrar <i class="fa fa-ban" aria-hidden="true"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>


  <div class="modal fade" id="mdl_cancelactivate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              ¿Está seguro que desea cambiar el estado de la guía de remisión ?
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
            <i class="fas fa-ban"></i>
          </button>

          <button type="button" class="btn btn-warning" (click)="ok_cancelactivate();">
            Aceptar
            <i class="fas fa-retweet"></i>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mdl_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              ¿Está seguro que desea eliminar la guía de remisión ?
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
            <i class="fas fa-ban"></i>
          </button>

          <button type="button" class="btn btn-danger" (click)="ok_delete();">
            Aceptar
            <i class="fas fa-trash-alt"></i>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="info" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 70% !important;">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="modal-title">Información</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  style="overflow-y: scroll; height: 70vh;"  *ngIf="info">

          <div class="row">

            <div class="col-sm-12 col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 20%;">NUMERO</th>
                  <td>{{info.guidenumber}}</td>
                  <th style="width: 10%;">FECHA</th>
                  <td>{{info.datetimereferral + ' ' + info.sequential}}</td>
                </tr>
                <tr>

                  <th>NO. CONTRATO</th>
                  <td>{{info.biz_contract.nocontract}}</td>
                  <th>CLIENTE</th>
                  <td>{{info.biz_contract.biz_client.businessname}}</td>

                </tr>
                <tr>
                  <th>SERVICIO LOGISTICA</th>
                  <td>{{info.logisticservicecost}}</td>
                  <th>MOTIVO TRASLADO</th>
                  <td>{{info.nom_transferreason.transferreasonname}}</td>
                </tr>
                <tr>
                  <th>PUNTO DE PARTIDA</th>
                  <td colspan="3">
                      <span *ngIf="info.nom_transferreason.idtypetransferreason != 2">
                          {{info.biz_warehouse.address}}
                      </span>
                      <span *ngIf="info.nom_transferreason.idtypetransferreason == 2">
                          {{info.biz_project.place}}
                      </span>
                  </td>
                </tr>
                <tr>
                  <th>PUNTO DE LLEGADA</th>
                  <td colspan="3">
                      <span *ngIf="info.nom_transferreason.idtypetransferreason == 2">
                          {{info.biz_warehouse.address}}
                      </span>
                      <span *ngIf="info.nom_transferreason.idtypetransferreason != 2">
                          {{info.biz_project.place}}
                      </span>
                  </td>
                </tr>

              </table>
            </div>

            <div class="col-sm-12 col-md-12">
              <table class="table table-bordered">
                <thead class="btn-dark">
                  <th>N.</th>
                  <th>ITEM</th>
                  <th>CANTIDAD</th>
                  <th>PRECIO</th>
                  <th>OBSERVACIONES</th>
                </thead>
                <tbody>
                  <tr *ngFor="let itemProd of info.biz__referralguideitem let i = index">
                    <td>{{i+1}}</td>
                    <th>{{itemProd.biz_item.itemname}}</th>
                    <td>{{itemProd.quantify}}</td>
                    <td>{{itemProd.price}}</td>
                    <td>{{itemProd.observation}}</td>
                  </tr>
                </tbody>

              </table>
            </div>


          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <app-listcontract (idcontract)="contract_select($event)"></app-listcontract>

  <app-listitem (itemglobal)="itemglobal_select($event)" ></app-listitem>

  <app-listcarrier (carrier_s)="carrier_select($event)" ></app-listcarrier>

  <app-list-place [fieldSelected]="fieldSelectedPlace" (place_s)="place_select($event)" ></app-list-place>

</div>
