<form novalidate (ngSubmit)="add_contract(frmcontract.value, frmcontract);" #frmcontract="ngForm">

  <div class="modal-header bg-primary" >
    <h5 class="modal-title">Nuevo Contrato</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="overflow-y: scroll; height: 70vh;">

    <div class="row">
      <div class="col-md-3 col-sm-12 ">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
            aria-selected="true">ARRENDATARIO</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
            aria-selected="false">ITEMS</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
            aria-selected="false">OBSERVACIONES</a>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 ">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <strong>1. DATOS GENERALES DEL ARRENDATARIO</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group ">
                  <label for="exampleFormControlInput1">Cliente
                    <span class="required">(*)</span>
                  </label>
                  <div class="input-group">

                    <select class="form-control auxcliente" id="idclient" name="idclient" [(ngModel)]="id_client.idclient" readonly  #idclient="ngModel" required>
                      <option *ngFor="let cli of lis_client" value="{{cli.idclient}}">
                        {{cli.businessname}}
                      </option>
                    </select>

                    <div class="input-group-append">
                      <button class="btn btn-default" type="button" (click)="search_client()"  >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    
                  </div>
                </div>

                <div *ngIf="idclient.errors?.required && idclient.touched">
                  <small id="" class="form-text text-danger text-right">El cliente es requerido</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">C.I./RUC.
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control" id="identify" name="identify"  [(ngModel)]="id_client.identify" readonly #identify="ngModel" required>
                </div>

                <div *ngIf="identify.errors?.required && identify.touched">
                  <small id="" class="form-text text-danger text-right">La identificación es requerida</small>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">TELÉFONO
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="id_client.phone" readonly #phone="ngModel" required>
                </div>

                <div *ngIf="phone.errors?.required && phone.touched">
                  <small id="" class="form-text text-danger text-right">El teléfono es requerido</small>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">DIRECCIÓN
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control" id="address" name="address" [(ngModel)]="id_client.address" readonly #address="ngModel" required>
                </div>

                <div *ngIf="address.errors?.required && address.touched">
                  <small id="" class="form-text text-danger text-right">La dirección es requerida</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">FECHA DE INICIO
                    <span class="required">(*)</span>
                  </label>
                  <input type="date" class="form-control" id="startdate" name="startdate" ngModel #startdate="ngModel" required>
                </div>

                <div *ngIf="startdate.errors?.required && startdate.touched">
                  <small id="" class="form-text text-danger text-right">La fecha de inicio es requerida</small>
                </div>
              </div>

              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">FECHA FIN
                    <span class="required">(*)</span>
                  </label>
                  <input type="date" class="form-control" id="enddate" name="enddate" ngModel #enddate="ngModel" required>
                </div>

                <div *ngIf="enddate.errors?.required && enddate.touched">
                  <small id="" class="form-text text-danger text-right">La fecha de fin es requerida</small>
                </div>
              </div>

              <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">ÁREA (m<sup>2</sup>)
                    </label>
                    <input type="text" class="form-control"  id="area" name="area" ngModel #area="ngModel" >
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="form-group ">
                    <label for="exampleFormControlInput1">PERÍODO DE ALQUILER
                      <span class="required">(*)</span>
                    </label>
                    <div class="input-group">
                      <select class="form-control" id="idperiod" name="idperiod" ngModel #idperiod="ngModel" required>
                        <option *ngFor="let cli of list_period" value="{{cli.idperiod}}">
                          {{cli.periodname}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div *ngIf="idperiod.errors?.required && idperiod.touched">
                    <small id="" class="form-text text-danger text-right">El Periodo es requerido</small>
                  </div>
                </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">CANTIDAD
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control"  pattern="^[0-9]+([0-9]+)?$" id="period" name="period" ngModel #period="ngModel" required>
                </div>

                <div *ngIf="period.errors?.required && period.touched">
                  <small id="" class="form-text text-danger text-right">La Cantidad es requerido </small>
                </div>

                <div *ngIf="period.errors?.pattern">
                  <small id="" class="form-text text-danger text-right">El periodo es incorrecto debe ser un numero entero o decimal</small>
                </div>
              </div>
            </div>

            <div class="row">
              <!--<div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">GARANTÍA ENTREGADA
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control"  pattern="^[0-9]+([.][0-9]+)?$"  id="guarantee" name="guarantee" ngModel #guarantee="ngModel" required>
                </div>

                <div *ngIf="guarantee.errors?.required && guarantee.touched">
                  <small id="" class="form-text text-danger text-right">La garantía es requerida </small>
                </div>

                <div *ngIf="guarantee.errors?.pattern">
                  <small id="" class="form-text text-danger text-right">La garantía es incorrecta debe ser un numero entero o decimal</small>
                </div>
              </div>-->

              <div class="col-12 table-responsive">
                  <label for="exampleFormControlInput1">GARANTÍA ENTREGADA</label>
                  <table class="table table-striped table-hover">
                    <tbody>

                      <tr *ngFor="let ident of list_paymentform let i = index">
                        <td>{{ident.paymentformname}}</td>
                        <td><input type="text" class="form-control" pattern="^[0-9]+([.][0-9]+)?$" name="{{i}}valor" [(ngModel)]="ident.valor"></td>
                      </tr>

                    </tbody>
                  </table>

                </div>

            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">COSTO DE ALQUILER
                    <span class="required">(*)</span>
                  </label>
                  <input type="text" class="form-control" pattern="^[0-9]+([.][0-9]+)?$"  id="cost" name="cost" ngModel #cost="ngModel" required>
                </div>

                <div *ngIf="cost.errors?.required && cost.touched">
                  <small id="" class="form-text text-danger text-right">El costo es requerido </small>
                </div>
                <div *ngIf="cost.errors?.pattern">
                  <small id="" class="form-text text-danger text-right">El costo es incorrecto debe ser un numero entero o decimal</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="receipt">RECIBOS
                  </label>
                  <input type="text" class="form-control" id="receipt" name="receipt" ngModel #receipt="ngModel">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="invoice">FACTURAS
                  </label>
                  <input type="text" class="form-control" id="invoice" name="invoice" ngModel #invoice="ngModel">
                </div>
              </div>
            </div>


          </div>

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <p><strong>2. OBJETO DEL CONTRATO: </strong>El objetivo del presente contrato es el arrendamiento de equipos para la construcción, la cantidad del equipo arrendado se encuentra detallado a continuación:</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 text-right">
                <button type="button" class="btn btn-primary" (click)="addrwo()"> Agregar
                <i class="fas fa-plus-square fa-lg"></i></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 table-responsive">
                <table class="table table-bordered table-condensed ">
                  <thead class="btn-dark">
                    <tr>
                      <th style="width: 3%;">N</th>
                      <th>DESCRIPCIÓN</th>
                      <th style="width: 15% !important;" >CANT.</th>
                      <th>OBSERVACIONES</th>
                      <th style="width: 3%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aux of list_itemcont let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <div class="input-group">
                          <select class="form-control"  name="{{i}}iditem" [(ngModel)]="aux.iditem">
                            <option *ngFor="let it of lis_item" value="{{it.iditem}}">
                              {{it.itemname}}
                            </option>
                          </select>
                          <!--<div class="input-group-append">
                            <button class="btn btn-default" type="button" (click)="search_item(aux)">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>-->
                        </div>
                      </td>
                      <td><input type="number" min="1" max="100" class="form-control"  name="{{i}}quantity"   [(ngModel)]="aux.quantity"  /></td>
                      <td><input type="text" class="form-control"  name="{{i}}observation"   [(ngModel)]="aux.observation"  /></td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="removerow(aux)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">OBSERVACIONES
                  </label>
                  <textarea cols="100" rows="5"  class="form-control" id="observation" name="observation" ngModel #observation="ngModel" ></textarea>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
      <i class="fas fa-ban"></i>
    </button>

    <button type="submit" class="btn btn-success" [disabled]="frmcontract.invalid">
      Guardar
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>
