<div *ngIf="tem_edit">
  <form novalidate (ngSubmit)="edit_transferreason(tem_edit); frm_edittransfer.reset();" #frm_edittransfer="ngForm">

    <div class="modal-header bg-primary">
      <h5 class="modal-title">Editar Motivo Traslado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Motivo Traslado</label>
            <input type="email" class="form-control" maxlength="100" id="transferreasonname" name="transferreasonname" [(ngModel)]="tem_edit.transferreasonname"
              #transferreasonname="ngModel" required>
          </div>

          <div *ngIf="transferreasonname.errors?.required && transferreasonname.touched" class="alert alert-danger">
            El Motivo Traslado es obligatorio
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Cancelar
        <i class="fas fa-ban"></i>
      </button>
      <button type="submit" class="btn btn-success" [disabled]="frm_edittransfer.invalid">
        Guardar
        <i class="fas fa-save"></i>
      </button>
    </div>



  </form>
</div>